body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#splash {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.meta {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    z-index: 99;
    pointer-events: none;
}